<h1><%= @chef.first_name %> </h1>
<h1><%= @chef.last_name %> </h1>
<h1><%= @chef.speciality %> </h1>
<h1><%= @chef.description %> </h1>
<h1><%= @chef.rating %> </h1>
<h1><%= @chef.location %> </h1>
<h1><%= @chef.price %> </h1>


<%= link_to "ADD BOOKING", new_chef_booking_path(@chef) %>
<%= link_to 'BACK', chefs_path, class: 'btn btn-info' %>
