<h3><%= @chef.first_name %> </h3>
<h3><%= @chef.last_name %> </h3>
<h3><%= @chef.speciality %> </h3>
<h3><%= @chef.description %> </h3>
<h3><%= @chef.rating %> </h3>
<h3><%= @chef.location %> </h3>
<h3><%= @chef.price %> </h3>


<%= link_to "ADD BOOKING", new_chef_booking_path(@chef) %>
<%= link_to 'BACK', chefs_path, class: 'btn btn-info' %>
