<h1>Dashboard</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Chefs</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Bookings</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="index-header">
      <h2>My chefs</h2>
      <p>View details of your booking</p>
    </div>

    <% @chefs.each do |chef| %><div class="container">
      <div>
        <div class="index-header">
          <h5>View details of your booking</h5>
        </div>
        <div class="row booking-row align-items-center">
          <div class="col-2">
            <strong>
              <p>Name: <%= chef.first_name %> <%= chef.last_name %></p>
            </strong>
          </div>
        </div>
          <div class="row booking-row align-items-center">
            <div class="col-2">
              <strong>
                <p>Speciality: <%= chef.speciality %></p>
              </strong>
            </div>
          </div>
          <div class="row booking-row align-items-center">
            <div class="col-2">
              <strong>
                <p>Location: <%= chef.location %></p>
              </strong>
            </div>
          </div>
          <div class="row booking-row align-items-center">
            <div class="col-2">
                <strong>
                  <p>Price: <%= chef.price %>TL</p>
                </strong>
              </div>
            </div>
          </div>
      </div>

    <% end %>
  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

      <div class="index-header"><h2>My Bookings</h2></div>

      <% @bookings.each do |booking| %>

        <div class="container">
            <div class="index-header">
              <h5>View details of your booking</h5>
            </div>
            <div class="row booking-row align-items-center">
              <div class="col-2">
                <strong>
                  <h6>Booked Chef: <%= booking.chef.first_name %> <%= booking.chef.last_name %></h6>
                </strong>
              </div>
            </div>
            <div class="row booking-row align-items-center">
              <div class="col-2">
                <strong>
                  <p>Start Date: <%= booking.start_time %></p>
                </strong>
              </div>
            </div>
            <div class="row booking-row align-items-center">
              <div class="col-2">
                <strong>
                  <p>End Date: <%= booking.end_time %></p>
                </strong>
              </div>
            </div>
            <div class="row booking-row align-items-center">
              <div class="col-2">
                <strong>
                  <p>Total Amount: <%= booking.total_price %></p>
                </strong>
              </div>
            </div>
        </div>


      <% end %>

  </div>
</div>
