<h1>Dashboard</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Chefs</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Bookings</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="index-header">
      <h2>My chefs</h2>
      <p>View details of your booking</p>
    </div>

    <% @chefs.each do |chef| %><div class="container">
      <div>
        <div class="index-header">
          <h2><%= chef.first_name %> <%= chef.last_name %></h2>
          <p>View details of your booking</p>
        </div>
        <div class="row booking-row align-items-center">
          <div class="col-2">
            <strong>
              <p>Name</p>
            </strong>
          </div>
        </div>
          <div class="row booking-row align-items-center">
            <div class="col-2">
              <strong>
                <p>Start Date</p>
              </strong>
            </div>
          </div>
          <div class="row booking-row align-items-center">
            <div class="col-2">
              <strong>
                <p>End Date</p>
              </strong>
            </div>
          </div>
          <div class="row booking-row align-items-center">
            <div class="col-2">
                <strong>
                  <p>Total Amount</p>
                </strong>
              </div>
            </div>
            <div class="row booking-row align-items-center">
              <div class="col-2">
                <strong>
                  <p>Status</p>
                </strong>
              </div>
            </div>
          </div>
        <%= link_to 'Back', chefs_path, class: 'btn' %>
      </div>

    <% end %>
  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

      <div class="index-header"><h2>My Bookings</h2></div>

      <% @bookings.each do |booking| %>

        <div>
            <div class="index-header">
              <h2><%= booking.id %></h2>
              <p>View details of your booking</p>
            </div>
            <div class="row booking-row align-items-center">
              <div class="col-2">
                <strong>
                  <p><%= booking.chef.first_name %></p>
                </strong>
              </div>
            </div>
            <div class="row booking-row align-items-center">
              <div class="col-2">
                <strong>
                  <p>Start Date</p>
                </strong>
              </div>
            </div>
            <div class="row booking-row align-items-center">
              <div class="col-2">
                <strong>
                  <p>End Date</p>
                </strong>
              </div>
            </div>
            <div class="row booking-row align-items-center">
              <div class="col-2">
                <strong>
                  <p>Total Amount</p>
                </strong>
              </div>
            </div>
            <div class="row booking-row align-items-center">
              <div class="col-2">
                <strong>
                  <p>Status</p>
                </strong>
              </div>
            </div>
          <%= link_to 'Back', chefs_path, class: 'btn' %>
        </div>


      <% end %>

  </div>
</div>
